---
layout: empty.hbs
title: 逸成教育-成人考试
keywords: 广州黄埔逸成教育培训中心,广州逸成教育,逸成教育培训机构
description: 逸成教育,国内职业教育知名品牌!逸成教育成立于2008年,至今已有多年办学经验,涉及的领域有学历提升、职业资格认证、留学移民等。逸成教育站下拥有广州自考,自考本科,中山大学自考,广东自考网,广州自考网,广东成考网,广州成考网等服务网站。
stylesheet: adulttest
---
{{> nav}}
<img src="img/adulttest/adulttest_02.png" alt="" class="banner">
<main>
    <section class="notice">
        <a href="" class="btn circle">重要通知</a>
        <h1>广东省成人高考考试<br>正在火热报名中</h1>
        <h5>由于报考学员较多，为避免学员无法成功报名<br><span>请一定要尽早提交资料备案报名</span></h5>
        <form action="">
            {{> name}}
            {{> phone}}
            <button class="btn" type="submit">院校专业资讯查询</button>
        </form>
        <div class="arrow"></div>
    </section>
    <section class="school">
        <h1>著名高校<br>让您的学历更有份量</h1>
        <h5>选择报考正规名校与合适专业<br>明智的选择，往往是您成功的开始</h5>
        <ul class="school-lists">
            <li>
                <img src="img/adulttest/adulttest_03.png" alt="">
                <div>
                    <img src="img/adulttest/adulttest_05.png" alt="">
                    <ul>
                        <li><i></i>“2011计划”高校</li>
                        <li><i></i>广东省“211工程” 重点高校</li>
                        <li><i></i>英国工商管理硕士协会（AMBA）高校</li>
                        <li><i></i>国际大学翻译学院联合会（CIUTI）高校</li>
                    </ul>
                </div>
                <a href="" class="btn circle">商务英语、人力资源管理、会计学、市场营销、金融学</a>
            </li>
            <li>
                <img src="img/adulttest/adulttest_06.png" alt="">
                <div>
                    <ul>
                        <img src="img/adulttest/adulttest_01.png" alt="">
                        <li><i></i>省教育厅批准成立</li>
                        <li><i></i>国家教育部备案成人高等院校</li>
                    </ul>
                </div>
                <a href="" class="btn circle">工商企业管理、物流管理、金融管理</a>
            </li>
            <li>
                <img src="img/adulttest/adulttest_09.png" alt="">
                <div>
                    <img src="img/adulttest/adulttest_11.png" alt="">
                    <ul>
                        <li><i></i>全国高校毕业生就业工作50强</li>
                        <li><i></i>事业单位法定机构改革的高校试点单位</li>
                        <li><i></i>广东省示范性建设高职院校</li>
                        <li><i></i>"广东省文明单位"等荣誉称号</li>
                    </ul>
                </div>
                <a href="" class="btn circle">电子商务、建筑工程技术、建筑室内设计、计算机应用技术</a>
            </li>
        </ul>
        <a href="" class="btn">查看招生简章</a>
        <div class="arrow"></div>
    </section>
    <section class="quality">
        <h1>省内著名院校<br>官方授权资质</h1>
        <h5>选择正规机构报考名校<br>让您在提升学历的过程中更放心</h5>
        <ul class="quality-lists">
            <li>
                <a href="" class="btn circle">广东社会科学大学</a>
                <div>
                    <img src="img/adulttest/adulttest_15.png" alt="">
                    <img src="img/adulttest/adulttest_17.png" alt="">
                </div>
            </li>
            <li>
                <a href="" class="btn circle">广东工程职业技术学院</a>
                <div>
                    <img src="img/adulttest/adulttest_22.png" alt="">
                    <img src="img/adulttest/adulttest_23.png" alt="">
                </div>
            </li>
            <li>
                <a href="" class="btn circle">广东外语外贸大学</a>
                <div>
                    <img src="img/adulttest/adulttest_27.png" alt="">
                    <img src="img/adulttest/adulttest_29.png" alt="">
                </div>
            </li>
        </ul>
        <div class="arrow"></div>
    </section>
    <section class="test">
        <h1>测试一下<br>适合您的院校专业和学历形式</h1>
        <h5>为您专属定制，学历提升方式因人制宜</h5>
        <form action="">
            {{> redio}}
            {{> name}}
            {{> phone}}
            <button class="btn" type="submit">查询可报考院校专业</button>
            <h5>* 测评结果会以短信或电话回访的形式给您反馈 请注意手机信息</h5>
        </form>
        <div class="arrow"></div>
    </section>
    <section class="features">
        <h1>成就名校高学历<br>相信老品牌的力量</h1>
        <h5>10年专业+转介绍50%以上<br>极速解决学员需要，让您离名校学历更近一步</h5>
        <ul class="features-lists">
            <li>
                <img src="img/adulttest/adulttest_33.png" alt="">
                <h4>10年大机构</h4>
                <p>十年专注学历辅导<br>服务超过百万学员</p>
                <a href="" class="btn circle">了解逸成教育</a>
            </li>
            <li>
                <img src="img/adulttest/adulttest_36.png" alt="">
                <h4>在家也可以考本科</h4>
                <p>在线授课平台<br>名校名师亲自授课</p>
                <a href="" class="btn circle">点击在线听课</a>
            </li>
            <li>
                <img src="img/adulttest/adulttest_40.png" alt="">
                <h4>学费0首付0利息</h4>
                <p>学费可分期付款<br>0首付0利息，无经济压力</p>
                <a href="" class="btn circle">立享分期操作</a>
            </li>
            <li>
                <img src="img/adulttest/adulttest_41.png" alt="">
                <h4>低投入高回报</h4>
                <p>低投入—日均5元<br>高回报—伴终生的本科学历</p>
                <a href="" class="btn circle">2980元升本</a>
            </li>
        </ul>
        <div class="arrow"></div>
    </section>
    <section>
        <h1>在这里报名学习成考大专/本科<br>原来学习可以如此简单轻松</h1>
        <h5>从您入学到毕业全程一站式服务<br>专业的机构，贴心的服务</h5>
        <img src="img/adulttest/adulttest_45.png" alt="" class="process">
        <form action="">
            {{> name}}
            {{> phone}}
            <button class="btn" type="submit">提交领取辅导资料</button>
        </form>
        <div class="arrow"></div>
    </section>
    <section>
        <h1>名校学历持身<br>让你的人生从此可以有更多选择</h1>
        <h5>从您入学到毕业全程一站式服务<br>专业的机构，贴心的服务</h5>
        <img src="img/adulttest/adulttest_48.png" alt="" class="choice">
        <a href="" class="btn">开启新生活第一步</a>
    </section>
    <section class="feedback">
        <h1>学员反馈<br>为您提供改变命运的平台</h1>
        <h5>无论您的基础好与差<br>都有机会获得正规的、有含金量的名校学历</h5>
        <ul class="student-lists">
            <li>
                <img src="img/adulttest/adulttest_51.png" alt="">
                <h4>2013考期学员</h4>
                <p>以前是在读学生<br>现在世界500强企业</p>
                <a href="" class="btn circle">目前月薪8000元</a>
            </li>
            <li>
                <img src="img/adulttest/adulttest_53.png" alt="">
                <h4>2010考期学员</h4>
                <p>以前是家庭主妇<br>现在是一名营养师</p>
                <a href="" class="btn circle">目前月薪6500元</a>
            </li>
            <li>
                <img src="img/adulttest/adulttest_55.png" alt="">
                <h4>2008考期学员</h4>
                <p>以前是工人<br>现在是知名建筑公司</p>
                <a href="" class="btn circle">目前月薪15000元</a>
            </li>
        </ul>
        <div class="arrow"></div>
    </section>
    <section class="advisory">
        <h1>学历&远程教育常见问题<br>专业资深课程顾问为您解答</h1>
        <h5>与其自己盲查，不如直接咨询专业课程顾问老师<br>为您节约时间，少走弯路</h5>
        <ul class="advisory-lists">
            <li>
                <b>成人高考和自考有什么区别？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考报名时间？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考考什么科目？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考难吗？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考和网络教育哪个好？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考学历和自考学历哪个好？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考和专升本的区别？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考和自考都要取消了吗？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考改革</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考新政策？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考业余和函授的区别？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考学历有用吗？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>成人高考要考几科？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
        </ul>
    </section>
</main>