---
layout: empty.hbs
title: 逸成教育-远程教育
keywords: 广州黄埔逸成教育培训中心,广州逸成教育,逸成教育培训机构
description: 逸成教育,国内职业教育知名品牌!逸成教育成立于2008年,至今已有多年办学经验,涉及的领域有学历提升、职业资格认证、留学移民等。逸成教育站下拥有广州自考,自考本科,中山大学自考,广东自考网,广州自考网,广东成考网,广州成考网等服务网站。
stylesheet: remote
othercss: swiper.min
otherjs: swiper.min
---
<img src="img/remote/remote_02.png" alt="" class="banner">
<main>
    <section class="demand">
        <h1>名校学历持身<br>3类人群必备</h1>
        <h5>想提升学历，又借口没时间、没钱、没精力？</h5>
        <div class="line"></div>
        <ul class="demand-lists">
            <li>
                <figure>
                    <img src="img/remote/remote_05.png" alt="">
                    <p>工作忙没时间</p>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="img/remote/remote_07.png" alt="">
                    <p>没有闲钱考学历</p>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="img/remote/remote_09.png" alt="">
                    <p>家庭耗尽精力</p>
                </figure>
            </li>
        </ul>
        <div class="arrow"></div>
    </section>
    <section class="odds">
        <h1>深入解读<br>远程教育的优势</h1>
        <h5>着手未来，从此刻果断决定开始<br>选择适合你的学历提升方式</h5>
        <div class="line"></div>
        <img src="img/remote/remote_15.png" alt="" class="odds-img">
        <div class="arrow"></div>
    </section>
    <section class="singUp">
        <a href="" class="btn circle">重要通知</a>
        <h1>广东省秋季远程入学考试<br>正在火热报名中</h1>
        <h5>由于报考学员较多，请一定要尽早提交资料备案报名<br>此次报名不成功，<span>毕业延迟至少半年</span></h5>
        <div class="line"></div>
        <form action="">
            <label for="name">
                <span><i class="name"></i>姓名：</span>
                <input type="text" class="input" id="name" name="name" placeholder="输入您的真实姓名">
            </label>
            <label for="phone">
                <span><i class="phone"></i>手机：</span>
                <input type="text" class="input" id="phone" name="phone" placeholder="输入您的真实手机">
            </label>
            <label for="level">
                <span><i class="level"></i>层次：</span>
                <select name="select" id="" name="level">
                    <option value="">请选择你想要报考的学历层次</option>
                    <option value="">高升专</option>
                    <option value="">高升本</option>
                    <option value="">专升本</option>
                    <option value="">其他</option>
                </select>
            </label>
            <button type="submit" class="btn">查询可报考院校专业</button>
        </form>
        <div class="arrow"></div>
    </section>
    <section class="school">
        <h1>2018年远程教育名校招生入口</h1>
        <h5>选择正规名校与合适专业<br>明智的选择，往往是您成功的开始</h5>
        <div class="line"></div>
        <ul class="school-lists">
            <li>
                <img src="img/remote/remote_22.png" alt="">
                <ul>
                    <li>教育部直属全国重点大学</li>
                    <li>国家“双一流”高校</li>
                    <li>“211工程”重点院校</li>
                    <li>“985工程”重点院校</li>
                </ul>
                <div>
                    <a href="" class="btn circle">报读条件</a>
                    <a href="" class="btn circle">热门专业</a>
                </div>
            </li>
            <li>
                <img src="img/remote/remote_25.png" alt="">
                <ul>
                    <li>广东省重点大学</li>
                    <li>国家“双一流”高校</li>
                    <li>“211工程”重点院校</li>
                    <li>世界一流学科建设高校</li>
                </ul>
                <div>
                    <a href="" class="btn circle">报读条件</a>
                    <a href="" class="btn circle">热门专业</a>
                </div>
            </li>
            <li>
                <img src="img/remote/remote_29.png" alt="">
                <ul>
                    <li>教育部直属全国重点大学</li>
                    <li>国家“双一流”高校</li>
                    <li>“211工程”重点院校</li>
                    <li>世界一流学科建设高校</li>
                </ul>
                <div>
                    <a href="" class="btn circle">报读条件</a>
                    <a href="" class="btn circle">热门专业</a>
                </div>
            </li>
            <li>
                <img src="img/remote/remote_32.png" alt="">
                <ul>
                    <li>研究型全国重点大学</li>
                    <li>国家“双一流”高校</li>
                    <li>“211工程”重点院校</li>
                    <li>“985工程”重点院校</li>
                </ul>
                <div>
                    <a href="" class="btn circle">报读条件</a>
                    <a href="" class="btn circle">热门专业</a>
                </div>
            </li>
        </ul>
        <a href="" class="btn">更多高校招生专业详情</a>
        <div class="arrow"></div>
    </section>
    <section class="subject">
        <h1>提高学历含金量<br>众多热门专业任您选择</h1>
        <h5>甄选名校热门专业<br>众多学员的选择，更值得您的信赖</h5>
        <div class="line"></div>
        <table width="100%">
            <tr>
                <th>经济管理</th>
                <th>计算机类</th>
                <th>建筑工程</th>
                <th>机械工程</th>
                <th>语言法律</th>
                <th>其他学科</th>
            </tr>
            <tr>
                <td>人力资源管理</td>
                <td>计算机科学 与技术</td>
                <td>土木工程</td>
                <td>机械工程自 动化</td>
                <td>汉语言文学</td>
                <td>工业设计</td>
            </tr>
            <tr>
                <td>商务管理</td>
                <td>计算机网络技术</td>
                <td>建筑工程技术</td>
                <td>电气工程自 动化</td>
                <td>日语专业</td>
                <td>动画设计</td>
            </tr>
            <tr>
                <td>金融管理</td>
                <td>计算机应用</td>
                <td>造价工程</td>
                <td>机电一体化</td>
                <td>英语专业</td>
                <td>护理学</td>
            </tr>
            <tr>
                <td>工商企业管理</td>
                <td>网络工程</td>
                <td>建筑工程管理</td>
                <td>机械一体化</td>
                <td>对外汉语</td>
                <td>药学</td>
            </tr>
            <tr>
                <td><a href="" class="btn circle">更多</a></td>
                <td><a href="" class="btn circle">更多</a></td>
                <td><a href="" class="btn circle">更多</a></td>
                <td><a href="" class="btn circle">更多</a></td>
                <td><a href="" class="btn circle">更多</a></td>
                <td><a href="" class="btn circle">更多</a></td>
            </tr>
        </table>
        <div class="arrow"></div>
    </section>
    <section class="test">
        <h1>免费测评<br>测一下您适合的哪种取证方式</h1>
        <h5>为您专属定制，学历提升方式因人制宜</h5>
        <div class="line"></div>
        <form action="">
            <div>
                <p>1.您目前的学历层次：</p>
                <ul>
                    <li>
                        <label for="edu-1"><input type="radio" name="edu" value="初中" id="edu-1">初中</label>
                    </li>
                    <li>
                        <label for="edu-2"><input type="radio" name="edu" value="高中" id="edu-2">高中</label>
                    </li>
                    <li>
                        <label for="edu-3"><input type="radio" name="edu" value="中专" id="edu-3">中专</label>
                    </li>
                    <li>
                        <label for="edu-4"><input type="radio" name="edu" value="大专" id="edu-4">大专</label>
                    </li>
                    <li>
                        <label for="edu-5"><input type="radio" name="edu" value="其他" id="edu-5">其他</label>
                    </li>
                </ul>
                <p>2.您准备提升到哪个学历层次：</p>
                <ul>
                    <li>
                        <label for="edu2-1"><input type="radio" name="edu2" value="专科" id="edu2-1">专科</label>
                    </li>
                    <li>
                        <label for="edu2-2"><input type="radio" name="edu2" value="本科" id="edu2-2">本科</label>
                    </li>
                    <li>
                        <label for="edu2-3"><input type="radio" name="edu2" value="硕士及以上" id="edu2-3">硕士及以上</label>
                    </li>
                </ul>
                <p>3.您提升学历的原因：</p>
                <ul>
                    <li>
                        <label for="reason-1"><input type="radio" name="reason" value="工作需要" id="reason-1">工作需要</label>
                    </li>
                    <li>
                        <label for="reason-2"><input type="radio" name="reason" value="考公务员" id="reason-2">考公务员</label>
                    </li>
                    <li>
                        <label for="reason-3"><input type="radio" name="reason" value="考职业资格证" id="reason-3">考职业资格证</label>
                    </li>
                    <li>
                        <label for="reason-4"><input type="radio" name="reason" value="入户需要" id="reason-4">入户需要</label>
                    </li>
                    <li>
                        <label for="reason-5"><input type="radio" name="reason" value="其他" id="reason-5">其他</label>
                    </li>
                </ul>
                <p>4.您更偏向于哪种取证方式：</p>
                <ul>
                    <li>
                        <label for="method-1"><input type="radio" name="method" value="在家自学" id="method-1">在家自学</label>
                    </li>
                    <li>
                        <label for="method-2"><input type="radio" name="method" value="学校听课" id="method-2">学校听课</label>
                    </li>
                    <li>
                        <label for="method-3"><input type="radio" name="method" value="辅导教学" id="method-3">辅导教学</label>
                    </li>
                    <li>
                        <label for="method-4"><input type="radio" name="method" value="报班培训" id="method-4">报班培训</label>
                    </li>
                    <li>
                        <label for="method-5"><input type="radio" name="method" value="其他" id="method-5">其他</label>
                    </li>
                </ul>
                <p>5.您的年龄段：</p>
                <ul>
                    <li>
                        <label for="ages1"><input type="radio" name="ages" value="16-23岁" id="ages1">16-23岁</label>
                    </li>
                    <li>
                        <label for="ages2"><input type="radio" name="ages" value="23—30岁" id="ages2">23—30岁</label>
                    </li>
                    <li>
                        <label for="ages3"><input type="radio" name="ages" value="30-35岁" id="ages3">30-35岁</label>
                    </li>
                    <li>
                        <label for="ages4"><input type="radio" name="ages" value="35-40岁" id="ages4">35-40岁</label>
                    </li>
                    <li>
                        <label for="ages5"><input type="radio" name="ages" value="40岁以上" id="ages5">40岁以上</label>
                    </li>
                </ul>
            </div>
            <label for="name">
                <span><i class="name"></i>姓名：</span>
                <input type="text" class="input" id="name" name="name" placeholder="输入您的真实姓名">
            </label>
            <label for="phone">
                <span><i class="phone"></i>手机：</span>
                <input type="text" class="input" id="phone" name="phone" placeholder="输入您的真实手机">
            </label>
            <button type="submit" class="btn">查询可报考院校专业</button>
        </form>
        <h5>*测评结果会以短信或电话回访的形式给您反馈 请注意手机信息</h5>
        <div class="arrow"></div>
    </section>
    <section class="power">
        <h1>三重保障<br>相信老品牌的力量</h1>
        <h5>10年专业+转介绍50%以上<br>在这里不必分心考证，一切由我们帮您规划</h5>
        <div class="line"></div>
        <ul>
            <li>
                <img src="img/remote/remote_40.png" alt="">
                <b>5大热门专业<br>不用考数理化</b>
                <p>为您甄选目前热门专业</p>
                <a href="" class="btn circle">查看精选专业</a>
            </li>
            <li>
                <img src="img/remote/remote_42.png" alt="">
                <b>内部强化训练<br>提高考试技巧</b>
                <p>让您在考试中游刃有余</p>
                <a href="" class="btn circle">了解强化训练</a>
            </li>
            <li>
                <img src="img/remote/remote_44.png" alt="">
                <b>考前模拟测试<br>规范答题技巧</b>
                <p>教您如何正确规范答题</p>
                <a href="" class="btn circle">考前模拟预约</a>
            </li>
        </ul>
        <div class="arrow"></div>
    </section>
    <section class="progress">
        <h1>在这里报名学习远程大专/本科<br>原来学习可以如此简单轻松</h1>
        <h5>从您入学到毕业全程一站式服务<br>专业的机构，贴心的服务</h5>
        <div class="line"></div>
        <img src="img/remote/remote_49.png" alt="" class="progress-img">
        <div class="arrow"></div>
    </section>
    <section class="material">
        <h1>倾尽师资<br>十年力量为您实现学历梦想</h1>
        <h5>自主专家团资料研发，仅供内部使用<br>版权所有，盗版必究</h5>
        <div class="line"></div>
        <img src="img/remote/remote_52.png" alt="" class="progress-img">
        <form action="">
            <label for="level">
                <span><i class="set"></i>资料：</span>
                <select name="select" id="" name="level">
                    <option value="">选择索领您需要的内部资料</option>
                    <option value="">2018年成人学历《历年真题》</option>
                    <option value="">2018年成人学历《零基础通关计划》</option>
                    <option value="">2018年成人学历《历年高频考点》</option>
                    <option value="">2018年成人学历《考纲解读》</option>
                    <option value="">《论文编写模板》</option>
                    <option value="">《考点速记手册》</option>
                    <option value="">《名师讲义》</option>
                    <option value="">2018年成人学历 《考点大纲》</option>
                </select>
            </label>
            <label for="name">
                <span><i class="name"></i>姓名：</span>
                <input type="text" class="input" id="name" name="name" placeholder="输入您的真实姓名">
            </label>
            <label for="phone">
                <span><i class="phone"></i>手机：</span>
                <input type="text" class="input" id="phone" name="phone" placeholder="输入您的真实手机">
            </label>
            <button type="submit" class="btn">索领内部资料申请提交</button>
        </form>
        <div class="arrow"></div>
    </section>
    <section class="students">
        <h1>学员反馈<br>为您提供改变命运的平台</h1>
        <h5>无论您的基础好与差<br>都有机会获得正规的、有含金量的名校学历</h5>
        <div class="line"></div>
        <div class="students-lists swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="img/remote/remote_59.png" alt="">
                    <b>朱同学</b>
                    <a href="" class="btn circle">14秋金融学本科</a>
                    <p>读书时服从父母的意愿读了师范专业，但一直郁郁寡欢。<br>后经介绍报读了金融学专业，开始做自己真正喜欢的事业，不但收入高了人也开朗了。<br>感谢逸成给了我第二次人生体验。</p>
                </li>
                <li class="swiper-slide">
                    <img src="img/remote/remote_60.png" alt="">
                    <b>陈同学</b>
                    <a href="" class="btn circle">12春建筑工程管理专科</a>
                    <p>11年只身来到广东，没有背景，没有学历，找工作很难。<br>机缘之下报考了热门专业的学历课程，高起专后找工作一下子打开了新局面，<br>我现在很满意现在收入和状态。</p>
                </li>
                <li class="swiper-slide">
                    <img src="img/remote/remote_61.png" alt="">
                    <b>区同学</b>
                    <a href="" class="btn circle">15春人力资源本科</a>
                    <p>在广州没有学历，连面试的机会都没有。<br>为了在这座城市抢一人头之地，毅然就算借钱也要报读成人学历提升。<br>现在是在500强公司做人力资源主管。<br>谢谢逸成，谢谢当时的我这个决定。</p>
                </li>
            </ul>
            <div class="swiper-pagination pagination"></div>
        </div>
        <script>
            var swiper = new Swiper('.swiper-container',{
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        </script>
        <div class="arrow"></div>
    </section>
    <section class="advisory">
        <h1>学历&远程教育常见问题<br>专业资深课程顾问为您解答</h1>
        <h5>与其自己盲查，不如直接咨询专业课程顾问老师<br>为您节约时间，少走弯路</h5>
        <div class="line"></div>
        <ul class="advisory-lists">
            <li>
                <b>学历政策全新变动</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>如何快一些考下学历？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>网络教育与自考、成考等成人教育有何区别？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>现代远程教育的优势有哪些？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>远程教育可以保证学习质量吗？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
            <li>
                <b>远程学习和学校学习有何不同？</b>
                <a href="" class="btn circle">点击在线咨询</a>
            </li>
        </ul>
    </section>
</main>