---
layout: empty.hbs
title: 逸成教育-自考
keywords: 广州黄埔逸成教育培训中心,广州逸成教育,逸成教育培训机构
description: content="逸成教育,国内职业教育知名品牌!逸成教育成立于2008年,至今已有多年办学经验,涉及的领域有学历提升、职业资格认证、留学移民等。逸成教育站下拥有广州自考,自考本科,中山大学自考,广东自考网,广州自考网,广东成考网,广州成考网等服务网站。
stylesheet: selftest
othercss: swiper.min
script: selftest
otherjs: swiper.min
---
<nav>
    <ul class="center">
        <li><a href="">报考条件</a></li>
        <li><a href="">院校专业</a></li>
        <li><a href="">考试科目</a></li>
        <li><a href="">考试时间</a></li>
    </ul>
</nav>
<img src="img/banner.jpg" alt="" class="banner">
<main>
    <section class="factor">
        <h1>自考报考<br><span>零基础</span>也可以上本科</h1>
        <h5>拥有本科学历，曾经的人生难题都不是问题</h5>
        <ul class="factor-lists">
            <li>
                <img src="img/factor_03.jpg" alt="">
                <a href="" class="btn circle">最新报考条件</a>
            </li>
            <li>
                <img src="img/factor_05.jpg" alt="">
                <a href="" class="btn circle">最新报考条件</a>
            </li>
            <li>
                <img src="img/factor_09.jpg" alt="">
                <a href="" class="btn circle">最新报考条件</a>
            </li>
            <li>
                <img src="img/factor_11.png" alt="">
                <a href="" class="btn circle">最新报考条件</a>
            </li>
        </ul>
        <div class="arrow"></div>
    </section>
    <section class="register">
        <h1>上班族也能上本科<br>火热招生中</h1>
        <h5>错过本次报考，可能将<span>延迟半年取证</span></h5>
        <form action="">
            <label for="name">
                <span><i class="name"></i>姓名：</span>
                <input type="text" class="input" id="name" name="name" placeholder="输入您的真实姓名">
            </label>
            <label for="phone">
                <span><i class="phone"></i>手机：</span>
                <input type="text" class="input" id="phone" name="phone" placeholder="输入您的真实手机">
            </label>
            <button type="submit" class="btn">立即点击在线报名</button>
        </form>
        <h5>*领取<a><span>2018年招生简章</span></a></h5>
        <div class="arrow"></div>
    </section>
    <section class="school">
        <h1>广东省<br>名校热门专业信息一览</h1>
        <h5>同样的学费、学制，当然优先选名校学历</h5>
        <div class="school-lists swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <figure>
                        <img src="img/guangcai_11.png" alt="">
                        <ul>
                            <li>主考院校：<span>广东财经大学</span></li>
                            <li>推荐专业：<span>行政管理、现代企业管理</span></li>
                            <li>专业优势：<span>迈入高薪管理层的不二之选</span></li>
                        </ul>
                    </figure>
                </li>
                <li class="swiper-slide">
                    <figure>
                        <img src="img/shantou_11.png" alt="">
                        <ul>
                            <li>主考院校：<span>汕头大学</span></li>
                            <li>推荐专业：<span>人力资源管理、财务会计与审计、<br>国际旅游管理</span></li>
                            <li>专业优势：<span>热门专业、更好就业</span></li>
                        </ul>
                    </figure>
                </li>
                <li class="swiper-slide">
                    <figure>
                        <img src="img/huashi_11.png" alt="">
                        <ul>
                            <li>主考院校：<span>华南师范大学</span></li>
                            <li>推荐专业：<span>心理健康教育</span></li>
                            <li>专业优势：<span>朝阳产业、就业面广</span></li>
                        </ul>
                    </figure>
                </li>
            </ul>
            <div class="swiper-pagination pagination"></div>
        </div>
        <a href="">
            <div class="btn">更多名校、热门专业咨询</div>
        </a>
        <div class="arrow"></div>
    </section>
    <section class="teachers">
        <h1>选择正规帮手<br>拿本科学历轻松快速</h1>
        <h5>每年帮助众多学员提升学历<br>十年专注学历教育</h5>
        <ul class="teachers-lists">
            <li>
                <h4><b>Q</b>自考的含金量高吗？</h4>
                <h4><b>A</b><span>正规院校授权：</span>国内多所高校官方合作报考中心...</h4>
                <a href="" class="btn">了解免考专业</a>
            </li>
            <li>
                <h4><b>Q</b>自考要考英语吗？</h4>
                <h4><b>A</b><span>自身师资保障：</span>资深名师亲临面授...</h4>
                <a href="" class="btn">了解师资实力</a>
            </li>
            <li>
                <h4><b>Q</b>自考专升本难吗？</h4>
                <h4><b>A</b><span>尽责服务保证：</span>全程跟踪教学，学习轻松无忧...</h4>
                <a href="" class="btn">了解班主任服务</a>
            </li>
            <li>
                <h4><b>Q</b>年龄大还能自考吗？</h4>
                <h4><b>A</b><span>先进教学辅助：</span>随时看录播，重难点反复复习...</h4>
                <a href="" class="btn">申请试听课程</a>
            </li>
        </ul>
        <div class="arrow"></div>
    </section>
    <section class="singUp">
        <h1>现在报名有优惠<br><span>最高1000元</span></h1>
        <form action="">
            <label for="name">
                <span><i class="name"></i>姓名：</span>
                <input type="text" class="input" id="name" name="name" placeholder="输入您的真实姓名" maxlength="12">
            </label>
            <label for="phone">
                <span><i class="phone"></i>手机：</span>
                <input type="text" class="input" id="phone" name="phone" placeholder="输入您的真实手机" maxlength="11">
            </label>
            <button type="submit" class="btn">马上报名，享受优惠</button>
        </form>
    </section>
</main>
<footer>
    <h5>Copyright © 2008 - 2018 逸成教育 All right reserved.</h5>
    <h5>网站版权归广州逸成教育信息咨询有限公司所有 </h5>
    <h5>粤ICP备11014159号</h5>
</footer>
