.banner {
  width: 100%;
}

section {
  padding: .68rem .3rem 0;
}

h1 {
  font-weight: bold;
  font-size: $titleSize;
  text-align: center;
}

h5 {
  margin-top: .2rem;
  text-align: center;
  font-size: $smSize;
}

h1, h5 {
  a {
    display: inline-block;
    vertical-align: baseline;
  }
  span {
    color: $themeColor;
    vertical-align: baseline;
  }
}