
.icon-name {
  background: url('../img/sprite-common.png') no-repeat 0px 0px;
  width: 34px;
  height: 34px;
  display:inline-block;
}
                
.icon-phone {
  background: url('../img/sprite-common.png') no-repeat -44px 0px;
  width: 34px;
  height: 34px;
  display:inline-block;
}
                