<footer>
    <div class="foot-top">
        <ul>
            <li><a href="javaScript:;">
                <h2>官方微信</h2>
            </a><img src="./img/weichat.png" alt=""></li>
            <li><a href="https://weibo.com/u/6351190037?refer_flag=1001030102_&is_hot=1#_rnd1520575141122">
                <h2>新浪微博</h2>
            </a></li>
            <li><a href="https://space.bilibili.com/196467853?from=search&seid=5016712722842900788#/">
                <h2>哔哩哔哩</h2>
            </a></li>
            <li><a href="http://m.toutiao.com/profile/68071268869/?version_code=6.6.0&version_name=&device_platform=iphone">
                <h2>今日头条</h2>
            </a></li>
        </ul>
    </div>
    <h5>©mi.com 京ICP证110507号| 京ICP备10046444号|京公网安备11010802020134号| 京网文[2014]0059-0009号 </h5>
    <h4>广东省广州市天河区林和中路136号二楼3W天誉青年社区</h4>
</footer>