<div>
    <p>1.您目前的学历层次：</p>
    <ul>
        <li>
            <label for="edu-1"><input type="radio" name="edu" value="初中" id="edu-1">初中</label>
        </li>
        <li>
            <label for="edu-2"><input type="radio" name="edu" value="高中" id="edu-2">高中</label>
        </li>
        <li>
            <label for="edu-3"><input type="radio" name="edu" value="中专" id="edu-3">中专</label>
        </li>
        <li>
            <label for="edu-4"><input type="radio" name="edu" value="大专" id="edu-4">大专</label>
        </li>
        <li>
            <label for="edu-5"><input type="radio" name="edu" value="其他" id="edu-5">其他</label>
        </li>
    </ul>
    <p>2.您准备提升到哪个学历层次：</p>
    <ul>
        <li>
            <label for="edu2-1"><input type="radio" name="edu2" value="专科" id="edu2-1">专科</label>
        </li>
        <li>
            <label for="edu2-2"><input type="radio" name="edu2" value="本科" id="edu2-2">本科</label>
        </li>
        <li>
            <label for="edu2-3"><input type="radio" name="edu2" value="硕士及以上" id="edu2-3">硕士及以上</label>
        </li>
    </ul>
    <p>3.您提升学历的原因：</p>
    <ul>
        <li>
            <label for="reason-1"><input type="radio" name="reason" value="工作需要" id="reason-1">工作需要</label>
        </li>
        <li>
            <label for="reason-2"><input type="radio" name="reason" value="考公务员" id="reason-2">考公务员</label>
        </li>
        <li>
            <label for="reason-3"><input type="radio" name="reason" value="考职业资格证" id="reason-3">考职业资格证</label>
        </li>
        <li>
            <label for="reason-4"><input type="radio" name="reason" value="入户需要" id="reason-4">入户需要</label>
        </li>
        <li>
            <label for="reason-5"><input type="radio" name="reason" value="其他" id="reason-5">其他</label>
        </li>
    </ul>
    <p>4.您更偏向于哪种取证方式：</p>
    <ul>
        <li>
            <label for="method-1"><input type="radio" name="method" value="在家自学" id="method-1">在家自学</label>
        </li>
        <li>
            <label for="method-2"><input type="radio" name="method" value="学校听课" id="method-2">学校听课</label>
        </li>
        <li>
            <label for="method-3"><input type="radio" name="method" value="辅导教学" id="method-3">辅导教学</label>
        </li>
        <li>
            <label for="method-4"><input type="radio" name="method" value="报班培训" id="method-4">报班培训</label>
        </li>
        <li>
            <label for="method-5"><input type="radio" name="method" value="其他" id="method-5">其他</label>
        </li>
    </ul>
    <p>5.您的年龄段：</p>
    <ul>
        <li>
            <label for="ages1"><input type="radio" name="ages" value="16-23岁" id="ages1">16-23岁</label>
        </li>
        <li>
            <label for="ages2"><input type="radio" name="ages" value="23—30岁" id="ages2">23—30岁</label>
        </li>
        <li>
            <label for="ages3"><input type="radio" name="ages" value="30-35岁" id="ages3">30-35岁</label>
        </li>
        <li>
            <label for="ages4"><input type="radio" name="ages" value="35-40岁" id="ages4">35-40岁</label>
        </li>
        <li>
            <label for="ages5"><input type="radio" name="ages" value="40岁以上" id="ages5">40岁以上</label>
        </li>
    </ul>
</div>