<label for="level">
    <span><i class="level"></i>层次：</span>
    <select name="select" id="" name="level">
        <option value="">请选择你想要报考的学历层次</option>
        <option value="">高升专</option>
        <option value="">高升本</option>
        <option value="">专升本</option>
        <option value="">其他</option>
    </select>
</label>