$themeColor: #F5535A;

@import "./lib/mix";
@import "./lib/base";
@import "./common/arrow";
@import "./common/btn";
@import "./common/h";
@import "./common/form";
@import "./module/sprite-common";
@import "./module/nav";
@import "./module/footer";

.factor-lists, .teachers-lists {
  margin-top: .4rem;
  flex-wrap: wrap;
  @extend %between;
}

.factor-lists li, .teachers-lists li {
  border: 1px solid #ccc;
  width: 3.4rem;
  height: 2.7rem;
  margin-bottom: .12rem;
  padding: .1rem;
  text-align: center;
  img {
    width: 100%;
    height: 1.5rem;
  }
}

.school-lists {
  margin-top: .4rem !important;
  li figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 5rem;
      height: 3rem;
      border: 1px solid #ccc;
      padding: 0.12rem;
    }
    ul {
      margin: .25rem auto .6rem;
      @extend %center;
      flex-direction: column;
      align-items: flex-start;
    }
    li {
      line-height: .3rem;
      font-weight: bold;
      font-size: .2rem;
      span {
        display: inline-block;
        color: $themeColor;
        vertical-align: top;
      }
    }
  }
  .pagination {
    bottom: 0 !important;
    .swiper-pagination-bullet {
      width: .24rem;
      height: .06rem;
      background: white;
      border: 1px solid #3D3D3D;
      border-radius: 0;
    }
    .swiper-pagination-bullet-active {
      background: #3D3D3D;
    }
  }
}

.teachers-lists li {
  height: 2.4rem;
  h4 {
    font-size: $textSize;
    line-height: .32rem;
    text-align: left;
    margin: .1rem 0;
    > b {
      display: inline-block;
      background: $titleColor;
      border-radius: 0.03rem;
      margin-right: .16rem;
      color: #fff;
      width: .24rem;
      height: .24rem;
      line-height: .24rem;
      font-size: .18rem;
      text-align: center;
    }
  }
  h4:first-of-type {
    font-weight: bold;
    color: $themeColor;
    b {
      background: $themeColor;
    }
  }
  h4:last-of-type {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    span {
      font-weight: bold;
    }
  }
  .btn {
    height: .6rem;
    line-height: .6rem;
    margin-top: .4rem;
  }
}
